[attributes]
---
label: Homepage Layout
app_layout: application
position: 14

[content]
{{ cms:asset homepage-layout, type: css, as: tag }}
<div class="robotics-main-img card-content-small-device">
   <div class="main-banner-txt">{{ cms:text Description }}</div>
</div>
  <div class=" card">
    <div class="card-content">
		 {{cms:partial comfy/edit_page/index}}
     <div class="wizard"></div> 
     {{ cms:wysiwyg content }}
     </div> 
    <div class="robotics-sec-img">
    	{{cms:partial comfy/homepage/join_us}}
    </div> 
    <div class="card-content">
     {{ cms:wysiwyg sec-content }}
     </div> 
     <div class="robotics-sec-img">
    	{{cms:partial comfy/homepage/support_us}}
    	</div> 
     <div class="card-content">
     {{ cms:wysiwyg third-content }}
     </div> 
	</div>





[js]



[css]
 
