%p
- if admin_signed_in?
  = link_to 'Edit Data Docs', '/admin/resources', class: "blue-button"

%p
  %br
%h1{style: "text-align: center;"} Useful Links
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Measuring Frequency
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: "https://tushev.org/articles/arduino/9/measuring-frequency-with-arduino", target: "_blank"} View
  %tr
    %td.align-left
      %p Measure Light Flicker
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Competition2019/LED_light_flicker_design_tip.pdf") , target: "_blank"} View
  %tr
    %td.align-left
      %p Tuning IR sensors
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: "https://www.instructables.com/id/How-to-setup-a-Pololu-Carrier-with-Sharp-GP2Y0A60S/" , target: "_blank"} View
  %tr
    %td.align-left
      %p Counter-Timers in depth
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("AVR Microcontroller Timer.pdf") , target: "_blank"} View
  %tr
    %td.align-left
      %p Pinout for Andy Stark's PurpleBoard
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("aStark2pinout.png") , target: "_blank"} View



%h1{style: "text-align: center;"} Weekly Presentation
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Rules and Strategies
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Competition2019/Rules and Strategies 1.pptx")} Download
  %tr
    %td.align-left
      %p Robotics 2018 Status and Direction
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Robotics 2018 Status and Direction.pptx")} Download



%p
  %br
%h1{style: "text-align: center;"} BOM
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Tools List
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("BOM/BOM Robot.xlsx")} Download

%p
  %br

%h1{style: "text-align: center;"} Workshop
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Leadership
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Presentation/LeadershipWorkshop-Sept2016.pptx")} Download
  %tr
    %td.align-left
      %p Mentorship
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Presentation/Mentorship.pptx")} Download

%p
  %br
-#KBTinit.docx
%h1{style: "text-align: center;"} Motion Workshops
%p{style: "text-align: center;"} This is our weekly workshop write-ups
%table{:style => "width:100%"}
  %tr
    %th.align-left
      %h2 Lab Name
    %th
      %h2{style: "text-align: right;"} Data
  %tr
    %td.align-left
      %p 0. KBT Initialization
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Motion_Workshop_Files/KBTinit.docx")} Download
  -Resource.all.each do |resource|
    %tr
      %td.align-left
        %p= resource.experiment_name
      %td{style: "text-align: right;"}
        %a.blue-button.button-smaller{href: asset_url("Motion_Workshop_Files/" << resource.experiment_url), target: "_blank"} Download