%p
- if admin_signed_in?
  = link_to 'Edit Data Docs', '/admin/resources', class: "blue-button"

%p
  %br
%h1{style: "text-align: center;"} Useful Links
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Measuring Frequency
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: "https://tushev.org/articles/arduino/9/measuring-frequency-with-arduino", target: "_blank"} View


%p
  %br
%h1{style: "text-align: center;"} Design Tips
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Rules and Strategies
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Competition2019/Rules and Strategies 1.pptx"), target: "_blank"} Download
  %tr
    %td.align-left
      %p Measure Light Flicker
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Competition2019/LED_light_flicker_design_tip.pdf")} Download


%p
  %br
%h1{style: "text-align: center;"} BOM
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Tools List
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("BOM/BOM Robot.xlsx")} Download

%p
  %br

%h1{style: "text-align: center;"} Presentation Workshop
%table{:style => "width:100%"}
  %tr
    %td.align-left
      %p Leadership
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Presentation/LeadershipWorkshop-Sept2016.pptx")} Download
  %tr
    %td.align-left
      %p Mentorship
    %td{style: "text-align: right;"}
      %a.blue-button.button-smaller{href: asset_url("Presentation/Mentorship.pptx")} Download

%p
  %br

%h1{style: "text-align: center;"} Workshop
%table{:style => "width:100%"}
  %tr
    %th.align-left
      %h2 Lab Name
    %th
      %h2{style: "text-align: right;"} Data

  -Resource.all.each do |resource|
    %tr
      %td.align-left
        %p= resource.experiment_name
      %td{style: "text-align: right;"}
        %a.blue-button.button-smaller{href: asset_url("Motion_Workshop_Files/" << resource.experiment_url), target: "_blank"} Download