- if admin_signed_in?
  %button.blue-button= link_to 'Edit', 'admin/participants'

- Participant.select(:state_name).distinct.order(:state_name).each do |state|
  %h2=state.state_name
  %hr/
  %table.card-content-small-device
    - Participant.where(state_name: state.state_name).order(:first_name).each do |participant|
      %tr
        %td
          %h4.align-left.participants-text
            = participant.first_name
            = participant.last_name
        %td
          %h4.align-right.participants-text=participant.email


