[attributes]
---
label: Data Sources
app_layout: application
position: 2

[content]
{{ cms:asset data-sources, type: css, as: tag }}

<div class="oyster-img card-content-small-device">
   <h1 class="banner-txt">{{ cms:text Description }}</h1>
</div>
  <div class="card">
    <div class="card-content card-content-small-device">
      {{cms:partial comfy/edit_page/index}}
      {{ cms:wysiwyg Tables }}
      
    </div>
  </div>


[js]

[css]
.padding-right {
	padding-right: 2em;
}
.right-border {
  border-right: 5px solid #eeeeee;
}
.align-left {
  padding-left: 2em !important;
 	float: left;
}
.align-right{
  float: right;
}

td {
  padding: 0;
}

