[attributes]
---
label: External Links
app_layout: application
position: 2

[content]
{{ cms:asset external-links, type: css, as: tag }}

<div class="oyster-img card-content-small-device">
   <h1 class="banner-txt">{{ cms:text Description }}</h1>
</div>
  <div class="card">
    <div class="card-content card-content-small-device">
    	<h2>Freshwater Inflow and Salinity<hr></h2>
     	<table>
        <tr>
        	<td rowspan="2" class="right-border padding-right"><h3 class="align-right">Texas</h3></td>
          <td class="align-left padding-right">{{ cms:wysiwyg Texax_Link_1 }}</td>
        </tr>
       	<tr>
          <td class="align-left padding-right">{{ cms:wysiwyg Texax_Link_2 }}</td>
        </tr>
        
        <tr>
          <td rowspan="2" class="right-border padding-right"><h3 class="align-right">Louisiana</h3></td>
          <td class="align-left padding-right">{{ cms:wysiwyg Louisiana_Link_1 }}</td>
        </tr>
       	<tr>
          <td class="align-left padding-right">{{ cms:wysiwyg Louisiana_Link_2 }}</td>
      	</tr>  
               
        <tr>
          <td class="right-border padding-right"><h3 class="align-right">Mississippi</h3></td>
          <td class="align-left padding-right">{{ cms:wysiwyg Mississippi_Link }}</td>
        </tr>
       	  
        <tr>
          <td class="right-border padding-right"><h3 class="align-right">Alabama</h3></td>
          <td class="align-left padding-right">{{ cms:wysiwyg Alabama_Link }}</td>
        </tr>
          
        <tr>
          <td class="right-border padding-right"><h3 class="align-right">Florida</h3></td>
          <td class="align-left padding-right">{{ cms:wysiwyg Florida_Link }}</td>
        </tr>      
      </table>
      <br>
      <h2>Gulf of Mexico Coastal Ocean Observing System<hr></h2>
        <table>
            <tr>
              <td class="align-left padding-right">{{ cms:wysiwyg Gulf_of_Mexico }}</td>
            </tr>
        </table>
      <br>
       <h2>Perkinsus marinus ("Dermo Disease") of oysters<hr></h2>
        <table>
            <tr>
              <td class="align-left padding-right">{{ cms:wysiwyg perkinsus_marinus }}</td>
            </tr>
        </table>
    </div>
  </div>


[js]

[css]
.padding-right {
	padding-right: 2em;
}
.right-border {
  border-right: 5px solid #eeeeee;
}
.align-left {
  padding-left: 2em !important;
 	float: left;
}
.align-right{
  float: right;
}

td {
  padding: 0;
}

