.flex
  display: flex
  flex-direction: column
  -ms-flex-direction: column
  -webkit-flex-direction: column
  justify-content: space-between
  height: 100vh
.block
  display: block

// Display for SWAN LAKE
.swan-lake-flex
  display: flex
  flex-direction: row
  -ms-flex-direction: row
  -webkit-flex-direction: row
  flex-wrap: wrap
  justify-content: space-around