///*--------------------------------------------------------------
// Footer
//--------------------------------------------------------------*/

.footer
  background-color: #99b5ce
  padding-top: 20px
  padding-bottom: 20px
  text-align: center
  padding-left: 5%
  padding-right: 5%
  position: relative
  //top: 1200px