
///*--------------------------------------------------------------
//Image
//--------------------------------------------------------------*/
$oyster-background-height: 15em

.robotics-sec-img
  background-image: image-url("RoboticsPic0.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  padding: $oyster-background-height
  text-align: center
  filter: contrast(85%)
  -webkit-filter: contrast(85%)
.robotics-third-img
  background-image: image-url("RoboticsPic2.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  padding: $oyster-background-height
  text-align: center
  filter: contrast(85%)

.robotics-main-img
  background-image: image-url("RoboticsPic1.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  padding: $oyster-background-height

.robotics-main-logo
  margin: 10px
  margin-left: 50px

.oyster-img
  background-image: image-url("oyster_lg.jpg")
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  padding: $oyster-background-height


.wizard
  background-image: image-url("wizard.gif")
  background-repeat: no-repeat
  background-size: cover
  height: 10em
  width: 7em
  margin: 10px auto

.sponsor-images
  & > img
    margin: 0 auto
    max-width:  40em
    max-height:  40em
    display: block


//******************* Media Queries
@media screen and (max-width: 1000px)
  .robotics-main-img
    padding: 10em !important
  .robotics-sec-img
    padding: 8em 1em !important
  .robotics-third-img
    padding: 8em 1em !important
  .sponsor-images
    & > img
      max-width:  20em
      max-height:  20em

@media screen and (max-width: 600px)
  .robotics-main-img
    padding: 8em 1em !important
  .robotics-sec-img
    padding: 8em 1em !important
  .robotics-third-img
    padding: 8em 1em !important
  .wizard
    height: 5em
    width: 3em
  .sponsor-images
    & > img
      max-width:  10em
      max-height:  10em