
///*--------------------------------------------------------------
// Navigation Bar
//--------------------------------------------------------------*/

.navbar
  flex-wrap: wrap-reverse
  padding-top: 0em
  padding-bottom: 0em
  border-style: none

.bg-light
  background-color: #1c5dad !important

.nav-link
  color: #ddefff !important
.collapse
  position: sticky
  top: 0
  margin: 0 0
  //height: 2.3em
  font-size: 1.4em
  border-style: none
  z-index: 100


// Button area symbol
.navbar-header
  border-style: none
  background-color: #0878ce
  color: #0878ce



//   Style of Buttons
.navbar-inverse .navbar-nav>li>a
  text-align: center
  //Font of the words
  font: normal bold 1.5em arial
  color: #474812

.collapse ul li a:hover
  margin: 0
  background-color: #99b5ce


.navbar-light .navbar-toggler
  border-radius: 0px 0px

// Color of the button box
button.navbar-toggle, button.navbar-toggle:hover, button.navbar-toggle:checked, button.navbar-toggle:default
  background-color: #6f89ba

.navbar-light .navbar-toggle:focus, .navbar-light .navbar-light:hover
  background-color: #6f89ba
    color: rgb(255, 255, 255)
  border-color: rgba(255, 255, 255, 0.1)
//change color of the toggle

.navbar-collapse, .navbar-form
  border: none


.navbar-light .navbar-nav>.active>a
  text-decoration: underline


.navbar-light .navbar-nav>.active>a:focus, .navbar-light .navbar-nav>.active>a:hover
  background-color:  #99b5ce
// Change color when hover over the button

div#myNavbar.navbar-collapse.collapse.in
  background: #485fba
// Background of the collapsed area
