.oyster-img.card-content-small-device
  %h1.banner-txt Swan Lake
  - if admin_signed_in?
    %button.blue-button= link_to 'Edit', '/admin/swan_lakes'
.card
  .card-content.card-content-small-device.swan-lake-flex
    .noola-hires-img
    .cmplogo-img
.card
  .card-content.card-content-small-device
    %table{:style => "width:100%"}
      %tr
        %th
          %h2 Date
        %th
          %h2 Environment Data
        %th
          %h2 Biological

      -SwanLake.all.each do |swan_lake|
        %tr
          %td
            %p=swan_lake.data_date
          %td
            %a.green-button.button-smaller{href: asset_url(swan_lake.environment_url), target: "_blank"} View
          %td
            %a.blue-button.button-smaller{href: asset_url(swan_lake.biology_url), target: "_blank"} View